# vi:ft=gitconfig
[user]
	name = {{ .git.name }}
	email = {{ .git.email }}
	signingkey = {{ .gpgkey }}!
[commit]
	gpgsign = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[mergetool]
	prompt = true
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE -c '$wincmd w' -c 'wincmd L'
[difftool]
	prompt = false
[diff]
	tool = vimdiff
[core]
	autocrlf = input

