# vi:ft=gitconfig
[user]
    name = JustKidding
    email = jk@vin.ovh
    signingkey = 69C39A7A54B828CBEE37DC57EF06BB7EBE3CA982!
[commit]
    gpgsign = true
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[mergetool]
    prompt = true
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE -c '$wincmd w' -c 'wincmd L'
[difftool]
    prompt = false
[diff]
    tool = vimdiff
[core]
    autocrlf = input

