# Hardare Acceleration
vo=gpu
gpu-context=x11egl
gpu-api=opengl
hwdec=vaapi

# Image Quality
#profile=gpu-hq
#video-sync=display-resample
#interpolation=yes

ytdl-format="bestvideo[height<=?1080]+bestaudio/best"
