# vi:ft=gotexttmpl
vo=gpu
gpu-api=opengl

hwdec=vaapi
{{- if eq .chezmoi.hostname "vesta" }}
ytdl-format="bestvideo[height<=?1080][ext!=webm]+bestaudio[ext!=webm]/best[ext!=webm]"
{{- else }}
ytdl-format="bestvideo[height<=?1080]+bestaudio/best"
{{- end }}

# Image Quality
profile=gpu-hq
video-sync=display-resample
interpolation=yes

